/* * Teal color (used for headings and backgrounds): `#4aaaa5`
* Regular font color (used for paragraphs and all text besides the headings): `#777777`
* Main header background color: `#ffffff`
* Main header border color: `#cccccc`
* Footer background color: `#666666`
* Main content background color: `#ffffff`
* Main content border color: `#dddddd` */


* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}


/* Navigation Bar
**************************************************************/



header {
    float:leff;
    margin: 0px; 
    position: relative;
    background-color: white;
    width: 100%;
    float:left;
    border-bottom: #cccccc solid 1px;
}

li {
    display: inline;
}

.name-tag {
    float: left;
    padding: 20px 0px;
    height: 80px;
    color:white;
    background-color:teal;
    text-align: center;
    width: 250px;
    position: relative;
}


ul {
    padding-inline-start: 0px;
    font-size: 16px;
    padding: 30px 0;
    font-weight: bold;
    margin-right: 0px;
    text-align: right;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

.li-link-a {
    border-right: solid 1px teal;
 
}

li {
    padding: 0 5px;
}

a {
    text-decoration: none;
    padding: 10px;
    color:teal
}

a:visited {
    color: teal;
}

a:hover {
    color: darkblue;

}

/* Global Styles 
**************************************************************/

body {
    margin:0px auto;
    background-image: url("../images/gravel.png");
    position: relative;
}



.container-header, main h1, label {
    color: teal;
}

main {
    margin: 20px 20px 80px 20px; 
    /* float: left;   */
}

h1 {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}



.white-container {
    background-color: white;
    padding: 40px;
    
    max-width: 740px;
}




p {
    line-height: 24px;
    color:#777777;
}

footer {
    background-color: #666666;
    text-align: center;
    /* height: 60px; */
    color: white;
    padding: 20px 0px;
    border-top: #cccccc solid 5px; 
    width: 100%;
    position: fixed;
    bottom: 0px;
    float: left;
    z-index: 101;
}


/** About Page ***************************
********************************/
#profile {
    float: left;
    margin: 0px 20px 20px 0;
}

.container-header, .container-main {
    max-width: 940px;
    margin: 0 auto;
    
}


.inner-container {
    margin-top: 20px;

}
/** Contact Page ***************************
********************************/
input, textarea {
    width: 100%;
    padding: 10px;
}

button {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    background-color: teal;
    color: white;
    font-size: 16px;

}



/** Portfolio  ***************************
********************************/

.flex-container {
    display: flex;
    /* display: -webkit-flex;
    display: -webkit-box; */

    flex-direction: row;
    margin-top: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.portfolio-image{
    
    /* margin-bottom: 40px; */
    width: 100%;
  
   
}

.portfolio-item {
    position: relative;
    width: 48%;
    padding-top: 35%;
    margin-bottom: 20px;
   /* background-color: beige; */
   background-size: cover;   
   border: solid 1px black;
}

.banner {
    position: absolute;
    width: 100%;
    background-color: #777777;
    color: white;
    text-align: center;
    bottom: 15px;
    z-index: 100;
    padding: 1rem;
    font-size:18px;
}

.item-1 {
    background-image: url("../images/word-guess.jpg");
    order: 1;
}

.item-2 {
    background-image: url("../images/info-widget.jpg");
    background-position-y: 70%;
    order: 4;
}

.item-3 {
    background-image: url("../images/rock-paper.jpg");
    background-position-y: 80%;
    order: 5;
}
.item-4 {
    background-image: url("../images/trivia-game.jpg");
    order: 3;
}
.item-5 {
    background-image: url("../images/rpg-game.jpg");
    background-position-y: 80%;
    order: 2;
}

/** Media Queries ***************************
********************************/
@media screen and (max-width:980px) {
    header {
        width: 100%;
        /* clear:both; */
    }

    ul {
        height: 80px;
    }

    

    .name-tag {
        margin-left: 20px;
    }

    main h1 {
        margin-bottom: 20px;
    }


}

@media screen and (max-width:768px) {
    /* header, body {
        width: 100%;
    } */

}

@media screen and (max-width:640px) {
    header, body, .name-tag, ul {
        width: 100%;
    }

    ul {
        text-align: center;
        float: left;
        height: 40px;
        padding:10px;
    }

    .name-tag {
        margin: 0px;
    }

    .portfolio-item {
        width: 100%;
    }

    .banner {
        font-size: 3vw;
    }
}


